box2d-py
cairosvg
ffmpeg
gym
jupyter
jupyter-client
jupyter-console
jupyter-core
numpy
matplotlib
opencv-python
Pillow
pyparsing
pywin32
pytesseract
requests
scikit-image
selenium
tensorflow
tqdm
webdriver_manager